<app-manager-authentication>

</app-manager-authentication>

<body>
    <form #banUsers="ngForm" (ngSubmit)="ban()" >
        <div class = "bans">
            <label for="user">Customers:</label>
                <select id="user" [(ngModel)]="customer" name= "customer">
                    <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.username}}</option>
                </select>
        </div>
    <button type = "submit" (click) = "ban()">Ban Customer</button>
    </form>
</body>

    <body>
        <table class="table">
            <thead>
                <th scope="col">Complaint Id</th>
                <th scope="col">Order Id</th>
                <th scope="col">Customer</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
            </thead>
            <tbody>
                <tr scope="row" class = "message" *ngFor="let complaint of complaints">
                    <td>{{complaint.complaints_id}}</td>
                    <td>{{complaint.cart_id}}</td>
                    <td>{{complaint.customer_id}}</td>
                    <td>{{complaint.complaints}}</td>
                    <td>{{complaint.complaints_date}}</td>
                </tr>
            </tbody>
        </table>
    </body>

    
<body>
    <form  #eliminiateComplaint="ngForm">
        <div>
            <input #removeComplaints type="number" name="id" placeholder="complaints_id" ngModel> 
        </div>
    <button type = "submit" (click) = 'removeComplaint(removeComplaints.valueAsNumber)'>Delete Complaint</button>
    </form>
</body>
    
<!-- <body>
    <form #makeComplaint="ngForm">
        <div class = "bans">
            <label>Enter complaint:</label>
            <br>
            <input #complaintInput type="text" id="c" name="c" style="height:50px;width:600px;font-size:14pt;text-align:justify;">
        </div>
        <button type= "submit" (click)= "complain(complaintInput.value)">Send Complaint</button>
    </form>
</body> -->


<!-- <h6>Hire Employee</h6>
    <label for="FirstName">First Name</label>
    <input required id="FirstName" type="text" name="FirstName" [(ngModel)]="customer.first_name"/>
    <br/>
    <label for="LastName">Last Name</label>
    <input required id="LastName" type="text" name="LastName" [(ngModel)]="customer.last_name"/>
    <br/>
    <label for="reg-username">Username</label>
    <input required id="reg-username" type="text" name="reg-username" [(ngModel)]="customer.username"/>
    <br/>
    <label for="reg-password">Password</label>
    <input required id="reg-password" type="password" name="reg-password" [(ngModel)]="customer.password"/>
    <br/>
    <label for="email">Email</label>
    <input required id="email" type="text" name="email" [(ngModel)]="customer.email"/>
    <br/>
    <button (click) = "register()">Register</button> -->
