body{
    font-family: arial, sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-columns: auto auto auto;
    max-width: 750px;
    min-width:700px;
}

.block{
    grid-auto-columns: minmax(500px, 800px);
    /* gap: 10x; */
    text-align: center;
}

#or{
    padding-top: 35%;
    margin: 0%;
}

#test{
    height: 500px;
    width: 800px;
    border: 2px solid black;
    position: absolute;
    top: -500px;


}