<h1>Sandwich</h1>

<div>
    <label for="sandwich-cart_id">Cart_ID</label>
    <input type="text" id="sandwich-cart-id" [(ngModel)]="sandwich.cart_id" />
</div>
<div>
    <label for="sandwich.sandwiches[0].meat.name">Meat</label>
    <select id="sandwich.sandwiches[0].meat.name" [(ngModel)]="sandwich.sandwiches[0].meat.name" >
    <option value="Ham">Ham</option>
    <option value="Baccon">Baccon</option>
    <option value="Turkey">Turkey</option>
    <option value="Salami">Salami</option>
    </select>
</div>

<div>
    <label for="sandwich.sandwiches[0].bread.name">Bread:</label>
    <select id="sandwich.sandwiches[0].bread.name" [(ngModel)]="sandwich.sandwiches[0].bread.name" >
    <option value="wheat">Wheat</option>
    <option value="rye">Rye</option>
    <option value="french">French</option>
    <option value="oat">Oat</option>
    </select>
</div>

<div>
    <label for="sandwich.sandwiches[0].vegetable.name">Vegetable:</label>
    <select id="sandwich.sandwiches[0].vegetable.name" [(ngModel)]="sandwich.sandwiches[0].vegetable.name" >
      <option value="lettuce">Lettuce</option>
      <option value="tomato">Tomato</option>
      <option value="onion">Onion</option>
      <option value="peppers">Peppers</option>
    </select>
</div>

<div>
    <label for="sandwich.sandwiches[0].sauce.name">Sauce:</label>
    <select id="sandwich.sandwiches[0].sauce.name" [(ngModel)]="sandwich.sandwiches[0].sauce.name" >
      <option value="mayo">Mayo</option>
      <option value="vinegar">Vinegar</option>
      <option value="chipolte">Chipolte</option>
      <option value="mustard">Mustard</option>
    </select>
</div>

<div>
    <label for="sandwich.sandwiches[0].seasoning.name">Seasoning:</label>
    <select id="sandwich.sandwiches[0].seasoning.name" [(ngModel)]="sandwich.sandwiches[0].seasoning.name" >
      <option value="oragano">Oragano</option>
      <option value="salt">Salt</option>
      <option value="pepper">Pepper</option>
      <option value="spice">Spice</option>
    </select>
</div>
<button type = "button" (click) = "addSandwich()">Add Sandwich</button>

<h3>Cart ID: {{sandwich.cart_id}}</h3>
<h3>Cart Cost: {{sandwich.cost}}</h3>
<h3>Cart Date: {{sandwich.cart_date}}</h3>
<h3>Sandwich ID: {{sandwich.sandwiches[0].sandwich_id}}</h3>
<h3>Bread ID: {{sandwich.sandwiches[0].bread.id}}</h3>
<h3>Bread Name: {{sandwich.sandwiches[0].bread.name}}</h3>
<h3>Bread Price: {{sandwich.sandwiches[0].bread.price}}</h3>
<h3>Meat ID: {{sandwich.sandwiches[0].meat.id}}</h3>
<h3>Meat Name: {{sandwich.sandwiches[0].meat.name}}</h3>
<h3>Meat Price: {{sandwich.sandwiches[0].meat.price}}</h3>
<h3>Vegetable ID: {{sandwich.sandwiches[0].vegetable.id}}</h3>
<h3>Vegetable Name: {{sandwich.sandwiches[0].vegetable.name}}</h3>
<h3>Vegetable Price: {{sandwich.sandwiches[0].vegetable.price}}</h3>
<h3>Sauce ID: {{sandwich.sandwiches[0].sauce.id}}</h3>
<h3>Sauce Name: {{sandwich.sandwiches[0].sauce.name}}</h3>
<h3>Sauce Price: {{sandwich.sandwiches[0].sauce.price}}</h3>
<h3>Seasoning ID: {{sandwich.sandwiches[0].seasoning.id}}</h3>
<h3>Seasoning Name: {{sandwich.sandwiches[0].seasoning.name}}</h3>
<h3>Seasoning Price: {{sandwich.sandwiches[0].seasoning.price}}</h3>