<app-user-authentication>

</app-user-authentication>

<body>
    

<h1>Sandwich</h1>

<form #bindProject="ngForm" (ngSubmit)="addSandwich()" >
    

    <div class = "ingredients">
        <label for="meat">Meat:</label>
            <select id="meat" [(ngModel)]="meat" name= "ingredients">
                <option *ngFor="let meat of meats" [ngValue]="meat">{{meat.name}} - ${{meat.price/100}}</option>
            </select>
    </div>

    <div class = "ingredients">
        <label for="bread">Bread:</label>
        <select id="bread" [(ngModel)]="bread"  name= "ingredients">
        <option *ngFor="let bread of breads" [ngValue]="bread">{{bread.name}} - ${{bread.price/100}}</option>
        </select>
    </div>

    <div class = "ingredients">
        <label for="vegetable">Vegetable:</label>
        <select id="vegetable" [(ngModel)]="vegetable" name= "ingredients" >
        <option *ngFor="let vegetable of vegetables" [ngValue]="vegetable">{{vegetable.name}} - ${{vegetable.price/100}}</option>
        </select>
    </div>

    <div class = "ingredients">
        <label for="sauce">Sauce:</label>
        <select id="sauce" [(ngModel)]="sauce"  name= "ingredients">
        <option *ngFor="let sauce of sauces" [ngValue]="sauce">{{sauce.name}} - ${{sauce.price/100}}</option>
        </select>
    </div>

    <div class = "ingredients">
        <label for="seasoning">Seasoning:</label>
        <select id="seasoning" [(ngModel)]="seasoning" name= "ingredients" >
        <option *ngFor="let seasoning of seasonings" [ngValue]="seasoning">{{seasoning.name}} - ${{seasoning.price/100}}</option>
        </select>
    </div>

    <div class = "ingredients">
        <label for="quantity">Quantity:</label>
            <select id="quantity" [(ngModel)]="quantity" name= "ingredients">
                <option *ngFor="let quantity of numbers" [ngValue]="quantity">{{quantity}}</option>
            </select>
    </div>
    <button  type="submit" >Add Sandwich To Cart</button>

</form>
</body>

<!-- export interface Cart{
    cart_id?:Number,
    customer_id?:Number,
    employee_id:Number,
    cost_sum:Number,
    cart_date?:Date
} -->

<div>
    <body>
    <table class="table">
        <thead>
            <th scope="col">Bread:</th>
            <th scope="col">Meat:</th>
            <th scope="col">Vegetable:</th>
            <th scope="col">Sauce:</th>
            <th scope="col">Seasoning:</th>
            <th scope="col">Sandwich Total:</th>
        </thead>
        <tbody>
            <tr scope="row" class = "message" *ngFor="let sandwich of cart.sandwiches">
                <td>{{sandwich.bread.name}}</td>
                <td>{{sandwich.meat.name}}</td>
                <td>{{sandwich.vegetable.name}}</td>
                <td>{{sandwich.sauce.name}}</td>
                <td>{{sandwich.seasoning.name}}</td>
                <td>{{(sandwich.bread.price+sandwich.meat.price+sandwich.vegetable.price+sandwich.sauce.price+sandwich.seasoning.price)/100}}</td>
            </tr>
        </tbody>
    </table>
    Total: ${{cart.cost_sum/100}}
</body>
</div>
<!-- <button type = "button" (click) = "getAllBread()">all bread</button> -->

<!-- <h3>Cart ID: {{sandwich.cart_id}}</h3>
<h3>Cart Cost: {{sandwich.cost}}</h3>
<h3>Cart Date: {{sandwich.cart_date}}</h3>
<h3>Sandwich ID: {{sandwich.sandwiches[0].sandwich_id}}</h3>
<h3>Bread ID: {{sandwich.sandwiches[0].bread.id}}</h3>
<h3>Bread Name: {{sandwich.sandwiches[0].bread.name}}</h3>
<h3>Bread Price: {{sandwich.sandwiches[0].bread.price}}</h3>
<h3>Meat ID: {{sandwich.sandwiches[0].meat.id}}</h3>
<h3>Meat Name: {{sandwich.sandwiches[0].meat.name}}</h3>
<h3>Meat Price: {{sandwich.sandwiches[0].meat.price}}</h3>
<h3>Vegetable ID: {{sandwich.sandwiches[0].vegetable.id}}</h3>
<h3>Vegetable Name: {{sandwich.sandwiches[0].vegetable.name}}</h3>
<h3>Vegetable Price: {{sandwich.sandwiches[0].vegetable.price}}</h3>
<h3>Sauce ID: {{sandwich.sandwiches[0].sauce.id}}</h3>
<h3>Sauce Name: {{sandwich.sandwiches[0].sauce.name}}</h3>
<h3>Sauce Price: {{sandwich.sandwiches[0].sauce.price}}</h3>
<h3>Seasoning ID: {{sandwich.sandwiches[0].seasoning.id}}</h3>
<h3>Seasoning Name: {{sandwich.sandwiches[0].seasoning.name}}</h3>
<h3>Seasoning Price: {{sandwich.sandwiches[0].seasoning.price}}</h3> -->