<app-user-authentication>

</app-user-authentication>

<body>
    

<h1>Sandwich</h1>

<form #bindProject="ngForm" (ngSubmit)="addSandwich()" >
    <div class = "ingredients">
        <label for="meat">Meat:</label>
            <select id="meat" [(ngModel)]="meat" name= "ingredients">
                <option *ngFor="let meat of meats" [ngValue]="meat">{{meat.name}}</option>
            </select>
    </div>

    <div class = "ingredients">
        <label for="bread">Bread:</label>
        <select id="bread" [(ngModel)]="bread"  name= "ingredients">
        <option *ngFor="let bread of breads" [ngValue]="bread">{{bread.name}}</option>
        </select>
    </div>

    <div class = "ingredients">
        <label for="vegetable">Vegetable:</label>
        <select id="vegetable" [(ngModel)]="vegetable" name= "ingredients" >
        <option *ngFor="let vegetable of vegetables" [ngValue]="vegetable">{{vegetable.name}}</option>
        </select>
    </div>

    <div class = "ingredients">
        <label for="sauce">Sauce:</label>
        <select id="sauce" [(ngModel)]="sauce"  name= "ingredients">
        <option *ngFor="let sauce of sauces" [ngValue]="sauce">{{sauce.name}}</option>
        </select>
    </div>

    <div class = "ingredients">
        <label for="seasoning">Seasoning:</label>
        <select id="seasoning" [(ngModel)]="seasoning" name= "ingredients" >
        <option *ngFor="let seasoning of seasonings" [ngValue]="seasoning">{{seasoning.name}}</option>
        </select>
    </div>
    <button  type="submit" >Add Sandwich To Cart</button>

</form>
</body>

<div>
    Cart
</div>
<!-- <button type = "button" (click) = "getAllBread()">all bread</button> -->

<!-- <h3>Cart ID: {{sandwich.cart_id}}</h3>
<h3>Cart Cost: {{sandwich.cost}}</h3>
<h3>Cart Date: {{sandwich.cart_date}}</h3>
<h3>Sandwich ID: {{sandwich.sandwiches[0].sandwich_id}}</h3>
<h3>Bread ID: {{sandwich.sandwiches[0].bread.id}}</h3>
<h3>Bread Name: {{sandwich.sandwiches[0].bread.name}}</h3>
<h3>Bread Price: {{sandwich.sandwiches[0].bread.price}}</h3>
<h3>Meat ID: {{sandwich.sandwiches[0].meat.id}}</h3>
<h3>Meat Name: {{sandwich.sandwiches[0].meat.name}}</h3>
<h3>Meat Price: {{sandwich.sandwiches[0].meat.price}}</h3>
<h3>Vegetable ID: {{sandwich.sandwiches[0].vegetable.id}}</h3>
<h3>Vegetable Name: {{sandwich.sandwiches[0].vegetable.name}}</h3>
<h3>Vegetable Price: {{sandwich.sandwiches[0].vegetable.price}}</h3>
<h3>Sauce ID: {{sandwich.sandwiches[0].sauce.id}}</h3>
<h3>Sauce Name: {{sandwich.sandwiches[0].sauce.name}}</h3>
<h3>Sauce Price: {{sandwich.sandwiches[0].sauce.price}}</h3>
<h3>Seasoning ID: {{sandwich.sandwiches[0].seasoning.id}}</h3>
<h3>Seasoning Name: {{sandwich.sandwiches[0].seasoning.name}}</h3>
<h3>Seasoning Price: {{sandwich.sandwiches[0].seasoning.price}}</h3> -->